{% extends "bootstrap/base.html" %}
{% block title %}Checkin App{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
{{ super() }}
<style>
    .btn-outline-success {
        border-color: #662D91;
        color: #662D91;
    }

    .btn-outline-success:hover {
        background-color: #662D91;
        border-color: #662D91;
    }

    .btn-outline-success:active {
        background-color: #662D91 !important;
        box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
    }

    .btn-outline-success:focus {
        border-color: #662D91;
        box-shadow: 0 0 0 0.2rem rgba(102, 45, 145, 0.5);
    }

    .border-primary {
        border-color: #662D91 !important;
        color: #662D91 !important;
    }
</style>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('admin.index') }}">
            <img src="{{ url_for('static', filename='logo.png') }}" height="40" alt="Checkin Logo"
                 class="d-inline-block align-middle">
            Checkin
        </a>
        <form class="form-inline">
            <label class="mr-2">{{user.name}}</label>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button">Выход</button>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <div class="card border-primary text-center">
                <div class="card-body">
                    <h5 class="card-title">Всего абонементов</h5>
                    <h1>{{total_tickets}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-primary text-center">
                <div class="card-body">
                    <h5 class="card-title">Всего клиентов</h5>
                    <h1>{{total_clients}}</h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-primary text-center">
                <div class="card-body">
                    <h5 class="card-title">Средний месячный доход</h5>
                    <h1>{{avg_money}}₽</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col-10">
            <embed type="image/svg+xml" src={{bar_chart_1|safe}} width="100%"/>
        </div>
        <div class="col"></div>
    </div>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col-10">
            <embed type="image/svg+xml" src={{bar_chart_2|safe}} width="100%"/>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}